--
-- PostgreSQL database dump
--

\restrict CC8xKJ54bqqDhagD5xjCwE9BCjl4vjqoPgsZuDwKpDFVPztc1WWYSVqWsOn8OPb

-- Dumped from database version 17.6
-- Dumped by pg_dump version 17.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: weather; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.weather (
    observe_date date,
    city character varying(100),
    temp numeric(6,2),
    temp_celsius numeric(5,2),
    feels_like numeric(6,2),
    feels_like_celsius numeric(5,2),
    pressure integer,
    humidity integer,
    wind_speed numeric(5,2),
    sunrise time without time zone,
    sunset time without time zone
);


ALTER TABLE public.weather OWNER TO postgres;

--
-- Data for Name: weather; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.weather (observe_date, city, temp, temp_celsius, feels_like, feels_like_celsius, pressure, humidity, wind_speed, sunrise, sunset) FROM stdin;
2025-09-13	Vinnytsia	291.57	18.42	290.54	17.39	1026	41	2.93	06:39:00	19:24:00
2025-09-14	Vinnytsia	295.16	22.01	294.12	20.97	1021	27	6.51	06:41:00	19:22:00
2025-09-14	Lviv	287.52	14.37	287.52	14.37	1016	96	3.49	06:58:00	19:40:00
2025-09-14	Kyiv	288.74	15.59	287.71	14.56	1023	52	3.71	06:32:00	19:15:00
2025-09-15	Vinnytsia	286.85	13.70	286.65	13.50	1020	91	3.09	06:42:00	19:20:00
\.


--
-- PostgreSQL database dump complete
--

\unrestrict CC8xKJ54bqqDhagD5xjCwE9BCjl4vjqoPgsZuDwKpDFVPztc1WWYSVqWsOn8OPb

